<h2>Admin Section</h2>

<% @users.each do |user| %>
  <div class="panel-non-link admin-edit">
    <span class='bold'>Username: </span> <%= link_to user.username, user_path(user) %> |

    <span class='bold'>Email: </span> <%= user.email %>

    <%= link_to "Edit", edit_user_path(user), id: user.id, class: 'btn-and-link' %>
  </div>
<% end %>
