<h2>Admin Section</h2>

<% @users.each do |user| %>
  <div class="panel-non-link admin-edit">
    <span class='bold'>Username: </span> <%= user.username %> |

    <span class='bold'>Email: </span> <%= user.email %>

    <%= link_to "Edit", edit_user_path(user), id: user.id, class: 'btn-and-link' %>
  </div>
<% end %>
