<div class="username">
  Username: <%= @user.username %>
</div>

<div class="user_email">
  Email: <%= @user.email %>
</div>

<div class="user_created_at">
  Last updated: <%= @user.updated_at %>
</div>
