@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto');

*{
  font-family: 'Roboto', sans-serif;
}

label {
  font-size:1.2rem;
}

input[type='submit'] {
  border-radius: 4px;
}

input {
  text-align: left;
}

body {
  font-size: 0.8rem;
  background-color: #faf3dc;
}

h2 {
  font-weight: bold;
  margin: 2.8rem 0rem 1.8rem 0rem;
  font-family: 'Roboto', sans-serif;
  background-color: #b7c1b3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 8px 8px 5px grey;
  text-align: center;
}

a:hover{
  color: #4a6741;
}

.btn-and-link:active {
  transform: translateY(4px);
}

.btn-and-link:hover {
  background-color: #304529;
}

.btn-and-link {
  background-color: #4a6741;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
}

input.btn-and-link{
  border-radius: 0;
}

.top-bar {
  background-color: #4a6741;
}

.white-link {
  color: white;
}

.panel:hover {
  background-color: #A9A9A9;
}

.panel:active {
  transform: translateY(4px);
}

.panel-non-link {
  background-color: #F2F2F2;
  border: 3px solid #4a6741;
  padding: 15px 32px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 1.2rem;
}

.panel {
  background-color: #F2F2F2;
  border: 3px solid #4a6741;
  border-radius: 4px;
}

.admin-edit {
  margin-bottom: 0.5rem
}

.bold {
  font-weight: bold;
  font-family: sans-serif;
}

div.selected {
  background-color: #A9A9A9;
}

.vote-button {
  background-color: #dcdcdc;
}

.vote-box {
  margin-top: .5rem;
}

#voteCount {
  margin-bottom: .75rem;
}

#upvoteContainer {
  display: inline;
  padding: .3rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 4px;
}

#downvoteContainer {
  display: inline;
  padding: .3rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 4px;
}

.review-label {
  font-weight: bold;
}

div.trail-info{
  padding-left: 5px;
  font-size: 1.2rem;
}

.container{
  text-align: left;
  width: 70%;
  margin: auto;
}

.names-in-rounded-box{
  text-align: center;
}

.images{
  position: relative;
  clip: rect(0px,200px,200px,0px);
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
}

.panel{
  position: relative;
  height: 250px;
  width: 250px;
}

.image-name{
  position: relative;
  text-align: center;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 25px;

}

#description{
  font-style: italic;
  font-family: fantasy;
}
